### Objectives:
- Identify data sources for all variables of interest. Categories based on https://www.canada.ca/en/health-canada/services/publications/food-nutrition/2019-canada-food-guide-food-classification-system-foods-beverages-categories.html 
    - vegetables and fruit
        - fruit
        - vegetables
    - grains
        - whole grains
        - whole grain and whole wheat foods
    - plant-based protein foods
        - plant-based yogurts
        - fortified plant-based cheeses
        - legumes
        - simulated meats
        - nuts and seeds
        - other plant-based foods
    - animal-based protein foods
        - yogurts and kefir
        - cheeses
        - other milk-based foods
        - red meats
            - beef
            - pork
            - lamb
            - goat
        - game meats
        - poultry
            - chicken
            - turkey
        - eggs
        - fish and shellfish
        - organ meats
    - beverages
        - water
        - fortified plant-based beverages 
        - non-fortified plant-based beverages
        - milks
        - fruit juice
        - vegetable juice
        - coffee
        - tea
        - soda
    - other foods
        - condiments, sauces, dressings
        - snack foods
        - processed meats
    - fats and oils
        - unsaturated fats and oils
        - saturated and trans fats and oils
    - unclassified foods
        - meal replacements
        - alcoholic beverages
        - herbs and spices
- acquire 2023 monthly averages for each variable
- where possible, extract and isolate the following variables:
    - category (if available)
    - product
    - product type (if applicable)
    - unit of measurement
    - unit quantity
    - price per unit
    - date
    - location (if available)

Resources:
- https://www.statcan.gc.ca/en/statistical-programs/document/2301_D68_V1 list of representative products used to calculate CPI "basket" of goods and services
- primary resource: https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1810024501 monthly average retail prices for selected products
    - redirected to this table from data resources for red meat, dairy, produce
- supplemental resources: 
    - https://agriculture.canada.ca/en/market-information-system/rp/index-eng.cfm?action=pR&r=116&pdctc= monthly average retail prices for pork, turkey, chicken, eggs

#### Primary data source: monthly average retail prices

In [1]:
# import pandas
import pandas as pd

In [3]:
# define relative path
path = '../data'

In [4]:
# import monthly average retail prices for food and related products
monthly_avg_retail_prices_2023 = pd.read_csv(f'{path}/2023_monthly_product_averages.csv')
monthly_avg_retail_prices_2023

,REF_DATE,GEO,DGUID,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2023-01,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,17.52,NaN,NaN,NaN,2
1,2023-02,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,17.05,NaN,NaN,NaN,2
2,2023-03,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,17.08,NaN,NaN,NaN,2
3,2023-04,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,18.17,NaN,NaN,NaN,2
4,2023-05,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,19.02,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10876,2023-05,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.11,16.21,NaN,NaN,NaN,2
10877,2023-06,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.11,16.75,NaN,NaN,NaN,2
10878,2023-07,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.11,16.71,NaN,NaN,NaN,2
10879,2023-08,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.11,16.22,NaN,NaN,NaN,2
10880,2023-09,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.11,15.81,NaN,NaN,NaN,2

In [5]:
# check dtypes of dataframe
monthly_avg_retail_prices_2023.dtypes

REF_DATE          object
GEO               object
DGUID             object
Products          object
UOM               object
UOM_ID             int64
SCALAR_FACTOR     object
SCALAR_ID          int64
VECTOR            object
COORDINATE       float64
VALUE            float64
STATUS           float64
SYMBOL           float64
TERMINATED       float64
DECIMALS           int64
dtype: object

In [6]:
# filter for variables of interest
monthly_avg_retail_prices_2023 = monthly_avg_retail_prices_2023[['REF_DATE', 'GEO', 'Products', 'UOM', 'VALUE']]
monthly_avg_retail_prices_2023

,REF_DATE,GEO,Products,UOM,VALUE
0,2023-01,Canada,"Beef stewing cuts, per kilogram",Dollars,17.52
1,2023-02,Canada,"Beef stewing cuts, per kilogram",Dollars,17.05
2,2023-03,Canada,"Beef stewing cuts, per kilogram",Dollars,17.08
3,2023-04,Canada,"Beef stewing cuts, per kilogram",Dollars,18.17
4,2023-05,Canada,"Beef stewing cuts, per kilogram",Dollars,19.02
...,...,...,...,...,...
10876,2023-05,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.21
10877,2023-06,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.75
10878,2023-07,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.71
10879,2023-08,British Columbia,"Laundry detergent, 4.43 litres",Dollars,16.22
10880,2023-09,British Columbia,"Laundry detergent, 4.43 litres",Dollars,15.81

In [28]:
# cast products column to string
monthly_avg_retail_prices_2023 = monthly_avg_retail_prices_2023.astype({'Products':'string'})
monthly_avg_retail_prices_2023.dtypes

REF_DATE            object
GEO                 object
Products    string[python]
UOM                 object
VALUE              float64
dtype: object

In [37]:
# test if product column can be split into item and units based on comma delimiter
df = monthly_avg_retail_prices_2023['Products'].str.split(',', expand = True)
df

                       0              1
0      Beef stewing cuts   per kilogram
1      Beef stewing cuts   per kilogram
2      Beef stewing cuts   per kilogram
3      Beef stewing cuts   per kilogram
4      Beef stewing cuts   per kilogram
...                  ...            ...
10876  Laundry detergent    4.43 litres
10877  Laundry detergent    4.43 litres
10878  Laundry detergent    4.43 litres
10879  Laundry detergent    4.43 litres
10880  Laundry detergent    4.43 litres

[10881 rows x 2 columns]

In [38]:
# define a new dataframe with split product/unit data
df2 = pd.concat([monthly_avg_retail_prices_2023, monthly_avg_retail_prices_2023['Products'].str.split(',', expand=True)], axis=1).drop('Products', axis=1)
df2

,REF_DATE,GEO,UOM,VALUE,0,1
0,2023-01,Canada,Dollars,17.52,Beef stewing cuts,per kilogram
1,2023-02,Canada,Dollars,17.05,Beef stewing cuts,per kilogram
2,2023-03,Canada,Dollars,17.08,Beef stewing cuts,per kilogram
3,2023-04,Canada,Dollars,18.17,Beef stewing cuts,per kilogram
4,2023-05,Canada,Dollars,19.02,Beef stewing cuts,per kilogram
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,Laundry detergent,4.43 litres
10877,2023-06,British Columbia,Dollars,16.75,Laundry detergent,4.43 litres
10878,2023-07,British Columbia,Dollars,16.71,Laundry detergent,4.43 litres
10879,2023-08,British Columbia,Dollars,16.22,Laundry detergent,4.43 litres
10880,2023-09,British Columbia,Dollars,15.81,Laundry detergent,4.43 litres

In [41]:
# rename columns 
df2.rename(columns={'REF_DATE': 'date', 'GEO':'location', 'UOM':'price units', 'VALUE': 'price', 0: 'product', 1: 'unit'}, inplace=True)
df2

,date,location,price units,price,product,unit
0,2023-01,Canada,Dollars,17.52,Beef stewing cuts,per kilogram
1,2023-02,Canada,Dollars,17.05,Beef stewing cuts,per kilogram
2,2023-03,Canada,Dollars,17.08,Beef stewing cuts,per kilogram
3,2023-04,Canada,Dollars,18.17,Beef stewing cuts,per kilogram
4,2023-05,Canada,Dollars,19.02,Beef stewing cuts,per kilogram
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,Laundry detergent,4.43 litres
10877,2023-06,British Columbia,Dollars,16.75,Laundry detergent,4.43 litres
10878,2023-07,British Columbia,Dollars,16.71,Laundry detergent,4.43 litres
10879,2023-08,British Columbia,Dollars,16.22,Laundry detergent,4.43 litres
10880,2023-09,British Columbia,Dollars,15.81,Laundry detergent,4.43 litres

In [42]:
# identify products that have null values for unit quantity
df2[df2['unit'].isna()]

          date          location price units  price        product  unit
720    2023-01            Canada     Dollars   4.27  Tea (20 bags)  <NA>
721    2023-02            Canada     Dollars   4.32  Tea (20 bags)  <NA>
722    2023-03            Canada     Dollars   4.31  Tea (20 bags)  <NA>
723    2023-04            Canada     Dollars   4.35  Tea (20 bags)  <NA>
724    2023-05            Canada     Dollars   4.37  Tea (20 bags)  <NA>
...        ...               ...         ...    ...            ...   ...
10615  2023-05  British Columbia     Dollars   4.55  Tea (20 bags)  <NA>
10616  2023-06  British Columbia     Dollars   4.33  Tea (20 bags)  <NA>
10617  2023-07  British Columbia     Dollars   4.75  Tea (20 bags)  <NA>
10618  2023-08  British Columbia     Dollars   4.78  Tea (20 bags)  <NA>
10619  2023-09  British Columbia     Dollars   4.58  Tea (20 bags)  <NA>

[99 rows x 6 columns]

In [43]:
# split products with null unit quantity based on ( delimiter
df3 = pd.concat([df2, df2['product'].str.split('(', expand=True)], axis=1).drop('product', axis=1)
df3

,date,location,price units,price,unit,0,1
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts,<NA>
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts,<NA>
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts,<NA>
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts,<NA>
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts,<NA>
...,...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent,<NA>
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent,<NA>
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent,<NA>
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent,<NA>
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent,<NA>

In [45]:
# compare number of rows that are not null in new split column to number of rows that were previously null in unit column
df3[df3[1].notna()]

          date          location price units  price  unit     0         1
720    2023-01            Canada     Dollars   4.27  <NA>  Tea   20 bags)
721    2023-02            Canada     Dollars   4.32  <NA>  Tea   20 bags)
722    2023-03            Canada     Dollars   4.31  <NA>  Tea   20 bags)
723    2023-04            Canada     Dollars   4.35  <NA>  Tea   20 bags)
724    2023-05            Canada     Dollars   4.37  <NA>  Tea   20 bags)
...        ...               ...         ...    ...   ...   ...       ...
10615  2023-05  British Columbia     Dollars   4.55  <NA>  Tea   20 bags)
10616  2023-06  British Columbia     Dollars   4.33  <NA>  Tea   20 bags)
10617  2023-07  British Columbia     Dollars   4.75  <NA>  Tea   20 bags)
10618  2023-08  British Columbia     Dollars   4.78  <NA>  Tea   20 bags)
10619  2023-09  British Columbia     Dollars   4.58  <NA>  Tea   20 bags)

[99 rows x 7 columns]

In [46]:
# fill null unit values with values split based on "(" delimiter
df3['unit'] = df3['unit'].fillna(df3[1])

In [53]:
# drop split column
df3.drop(1, axis=1, inplace=True)
df3

,date,location,price units,price,unit,0
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent

In [56]:
# rename product column
df3.rename(columns={0:'product'}, inplace=True)
df3

,date,location,price units,price,unit,product
0,2023-01,Canada,Dollars,17.52,per kilogram,Beef stewing cuts
1,2023-02,Canada,Dollars,17.05,per kilogram,Beef stewing cuts
2,2023-03,Canada,Dollars,17.08,per kilogram,Beef stewing cuts
3,2023-04,Canada,Dollars,18.17,per kilogram,Beef stewing cuts
4,2023-05,Canada,Dollars,19.02,per kilogram,Beef stewing cuts
...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,4.43 litres,Laundry detergent
10877,2023-06,British Columbia,Dollars,16.75,4.43 litres,Laundry detergent
10878,2023-07,British Columbia,Dollars,16.71,4.43 litres,Laundry detergent
10879,2023-08,British Columbia,Dollars,16.22,4.43 litres,Laundry detergent
10880,2023-09,British Columbia,Dollars,15.81,4.43 litres,Laundry detergent

In [72]:
df4 = pd.concat([df3, df3['unit'].str.split(' ', expand=True)], axis=1).drop('unit', axis=1)
df4

,date,location,price units,price,product,0,1,2,3
0,2023-01,Canada,Dollars,17.52,Beef stewing cuts,,per,kilogram,<NA>
1,2023-02,Canada,Dollars,17.05,Beef stewing cuts,,per,kilogram,<NA>
2,2023-03,Canada,Dollars,17.08,Beef stewing cuts,,per,kilogram,<NA>
3,2023-04,Canada,Dollars,18.17,Beef stewing cuts,,per,kilogram,<NA>
4,2023-05,Canada,Dollars,19.02,Beef stewing cuts,,per,kilogram,<NA>
...,...,...,...,...,...,...,...,...,...
10876,2023-05,British Columbia,Dollars,16.21,Laundry detergent,,4.43,litres,<NA>
10877,2023-06,British Columbia,Dollars,16.75,Laundry detergent,,4.43,litres,<NA>
10878,2023-07,British Columbia,Dollars,16.71,Laundry detergent,,4.43,litres,<NA>
10879,2023-08,British Columbia,Dollars,16.22,Laundry detergent,,4.43,litres,<NA>
10880,2023-09,British Columbia,Dollars,15.81,Laundry detergent,,4.43,litres,<NA>

In [74]:
col3 = df4[3]
col3

0        <NA>
1        <NA>
2        <NA>
3        <NA>
4        <NA>
         ...
10876    <NA>
10877    <NA>
10878    <NA>
10879    <NA>
10880    <NA>
Name: 3, Length: 10881, dtype: string

In [78]:
col3.unique()

<StringArray>
[<NA>, '']
Length: 2, dtype: string

In [60]:
product_list = df3['product'].unique().tolist()

In [64]:
product_list_df = pd.DataFrame(list(zip(*[product_list]))).add_prefix('Col')
product_list_df.to_csv('monthly_average_unique_product_list.csv', index=False)
print(product_list_df)

                      Col0
0        Beef stewing cuts
1      Beef striploin cuts
2    Beef top sirloin cuts
3            Beef rib cuts
4              Ground beef
..                     ...
100        Sunflower seeds
101              Deodorant
102             Toothpaste
103                Shampoo
104      Laundry detergent

[105 rows x 1 columns]

In [ ]:
# split units into unit and unit quantity
for unit in ['kilogram', 'litre', 'litres', 'gram', 'grams', 'dozen', 'millilitres', 'bags']:

In [23]:
# # split products column into product and quantity based on comma delimiter
# data_split = pd.DataFrame(
#     [x.rsplit(', ', 1) for x in monthly_avg_retail_prices_2023.Products.tolist()], 
#     columns=['product', 'unit_quantity']
# )
# data_split

                 product unit_quantity
0      Beef stewing cuts  per kilogram
1      Beef stewing cuts  per kilogram
2      Beef stewing cuts  per kilogram
3      Beef stewing cuts  per kilogram
4      Beef stewing cuts  per kilogram
...                  ...           ...
10876  Laundry detergent   4.43 litres
10877  Laundry detergent   4.43 litres
10878  Laundry detergent   4.43 litres
10879  Laundry detergent   4.43 litres
10880  Laundry detergent   4.43 litres

[10881 rows x 2 columns]